@import url(./__image/intro__image.css);
@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__container/intro__container.css);

.intro {
 /* width: 920px; */
 display: flex;
 
 /* border: 1px solid black;
 border-top: none;
 border-bottom: none; */
 background-color: #969037;
 height: 250px;
}