.about-me__title {    
    margin-left: 80px;
    margin-bottom: 39px;
    margin-top: 37px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;  
    text-transform: uppercase;
}