.intro__title {
    font-size: 61px;
    font-weight: 400;
    font-style: normal;
    color: white;    
    margin-left: 24px;     
    /* border: 1px solid black;     */
    margin-top: 63px;
    margin-bottom: 0;    
}